

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*

Color references: https://kuler.adobe.com/office-colors-color-theme-2880347/
Foreground Orange #E73F00
Red Orange #CA2800
Yellow Accent #FFDB45
Foreground Agave Blue #227C71
Background Teal #175956

bootstrap styling
http://stylebootstrap.info/

*/

img.img-team {
  width: 70%;
}

body{
	padding-top: 40px;	
}

#front_page_splash {
	background-color: transparent;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

